@charset "utf-8";

@import url("./fontface.css");
@import url("./vars.css");
@import url("./tw.css");

html {
  font-size: 12px;
}

/* stylelint-disable csstools/media-use-custom-media */
@media (min-width: 300px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 400px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 800px) {
  html {
    font-size: 18px;
  }
}
/* stylelint-enable csstools/media-use-custom-media */

body {
  margin: 0;
  font-size: 1rem;
  background-color: var(--color-bg);
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-text);
  text-align: left;
}
