:root {
  --font-headings: "Poppins", sans-serif;
  --font-body: "Plex", sans-serif;

  --color-primary: #e7382d;

  --color-bg: #eee;
  --color-text: #101316;

  --color-main: #ff5a5a;
  --color-header: var(--color-primary);
}
