@custom-media --sm only screen and (min-width: 804px);
@custom-media --md only screen and (min-width: 1060px);
@custom-media --lg only screen and (min-width: 1236px);

:root {
  --font-headings: "Poppins", sans-serif;
  --font-body: "Plex", sans-serif;

  --color-main: #ff5a5a;
  --color-header: #e7382d;
}
