.background {
  position: relative;
  z-index: 0;
}

.background::before {
  z-index: -1;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: color, normal;
  background-image: linear-gradient(
      0deg,
      hsl(330deg 65% 50% / 85%),
      rgba(255, 0, 0, 0.65) 100%
    ),
    url("../images/hero-bg.jpg");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .background::before {
    background-image: linear-gradient(
        0deg,
        hsl(330deg 65% 50% / 85%),
        rgba(255, 0, 0, 0.65) 100%
      ),
      url("../images/hero-bg@2x.jpg");
  }
}
