---
import BaseHead from "~/components/BaseHead.astro";
import { getSiteData } from "~/util/i18n";

type Props = {
  title?: string;
  description: string;
  children: any;
};

const { title, description } = Astro.props;

const { lang } = getSiteData(Astro.url);
---

<html lang={lang}>
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <slot />
  </body>
</html>
